/* Basic sample */
@import url(https://fonts.googleapis.com/css2?family=Caveat&display=swap);

body {
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  font-family: "Caveat";
}
.header {
  min-height: 50px;
}
#content {
  max-width: 1050px;
  width: 100%;
  min-width: 700px;
  overflow: hidden;
}

.header h1,
.header p {
  text-align: center;
}
.header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 45px;
  color: #482e6f;
}
.header .title {
  position: absolute;
  top: 41%;
  transform: rotate(-90deg);
}

.header .msg-mobile {
  font-size: 30px;
}

.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.flipbook-viewport .container {
  position: absolute;
  left: 22%;
  margin: auto;
}

.flipbook-viewport .flipbook {
  width: 845px;
  height: 600px;
}

.flipbook-viewport .page {
  width: 419px;
  height: 600px;
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
.download {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 4000;
}
.download a svg {
  color: #482e6f;
}

.flipbook-viewport .double {
  width: 845px;
  height: 600px;
  background-size: 100% 100%;
}

.controls {
  position: absolute;
  z-index: 4000;
  bottom: 20px;
  left: 34.8%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: auto;
  transform: translateX(160px);
}
.controls button {
  padding: 12px 15px;
  border: 0;
  font-family: "Arial";
  background-color: #482e6f;
  color: #fcfcfc;
  border-radius: 8px;
}

.msg-mobile {
  display: none;
}

/* ---------------------------------------------- mobile*/

@media (max-width: 1024px) {
  .msg-mobile {
    display: block;
  }
  .flipbook-viewport .container {
    top: 15%;
    position: relative;
    left: -17%;
  }


  @media (orientation: landscape) {
    .header {
      min-height: 10px;
    }
    .download {
      position: absolute;
      right: 5%;
      top: 40%;
      z-index: 4000;
    }
    .header .title {
      position: absolute;
      top: 41%;
      transform: rotate(-90deg);
      font-size: 12px;
      left: -3%;
    }

    .msg-mobile {
      display: none;
    }
    .mobile .flipbook-viewport .container {
      top: 15%;
      left: 62%;
      position: relative;
    }

    .mobile .flipbook-viewport .flipbook {
      width: 470px;
      height: 325px;
      left: -40%;
      top: 0px;
    }
    .mobile .flipbook-viewport .page {
      width: 350px;
      height: 325px;
    }
    .mobile .flipbook-viewport .double {
      width: 470px;
      height: 325px;
    }
    .controls {
      left: -14%;
      width: 90%;
    }
    .controls button{
      padding: 5px 12px;
    }
  }
}
